body {
  background-image:url(../img/backgroundimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

header {
  width: 100%;
  height: 10vh;
  background-color: rgba(28, 34, 50, 0.8);
  margin: 0 auto;
  margin-bottom: 10px;
  color: white;
}

p {
  color: white;
  margin: 10px;
  margin-left: 20px;
  font-size: 20px;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 60px;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 40px;
}

h3 {
  font-style: bold;
  font-size: 25px;
  margin-top: 15px;
  font-weight: bold;
}

h4 {
  font-style: bold;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: bold;
}

h5 {
  font-style: bold;
  font-size: 25px;
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-weight: bold;
  text-align: center;
}

ul {
  padding-top: 10px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  display: list-item;
  list-style-type: circle;
  font-size: 20px;
}

.container {
  width: 70%;
  height: 84.4vh; /* 84.4*/
  margin-left: 15%;
  margin-right: 15%;  
  margin: 0 auto;
} 

.home {
  height: 20%;
  text-align: center;
  padding-top: 55px;
}

.items {
  height: 70%;
  margin-top: 2%;
  background-color: rgba(28, 34, 50, 0.48);
  color: white;
  display: flex;
  flex-direction: column;
}

.items-main {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.items-flex {
  height: 70%;
  margin-top: 2%;
  background-color: rgba(28, 34, 50, 0.48);
  color: white;
  display: flex;
  flex-direction: row;
}

.internet {
  width: 800px;
  height: 200px;
  float: left;
  margin: 0 auto;
  margin-top: -15px;
}

.img-motivatie {
  width: 800px;
  height: 500px;
  margin-top: 15px;
  margin-right: 15px;
}

.img-wakeboard {
  width: 300px;
  height: 500px;
  margin-top: 15px;
  margin-right: 15px;
}

/* Nav */
button {
  background-color: none;
  background: transparent;
  color: white;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  height: 10vh;
  width: 100px;
}

button:hover {
  background-color: rgba(110, 114, 122, 0.20);
  cursor: pointer;
  color: white;
}

.nav {
  float: left;
}

.nav button {
  margin-right: 30px;
}

.social {
  float: right;
}

img {
  height: 40px;
  width: 40px;
}
/* End of nav */

/*Dropdown Button*/
.dropbtn {
  background-color: none;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: rgba(110, 114, 122, 0.20);
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(28, 34, 50, 0.8);
  text-align: center;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: rgba(110, 114, 122, 0.20);} 

.show {display:block;}

/* FORM */
.form {
  position: relative;
  top: 40px;
  z-index: 1;
  background-color: rgba(28, 34, 50, 0.8);
  max-width: 360px;
  margin: 0 auto 40px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: rgb(28, 34, 50);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgba(110, 114, 122, 0.20);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: rgba(28, 34, 50, 0.8);
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.login-text {
  text-align: center;
  padding-top: 40px;
}
/*END FORM*/

/* GAME*/
#apple-div {
  text-align: center;
  
}

#reset-button {
  text-align: center;
  background-color: rgba(28, 34, 50, 0.8);
  margin: 0 auto;
  font-size: 1em;
  height: 10vh;
  width: 100px;
}

.applebutton {
  background-color: none;
  background: transparent;
  color: black;
  border: none;
  outline: none;
  text-align: center;
  text-decoration: none;
  font-size: 0.5em;
  height: 5vh;
  width: 100px;
}

small {
  font-size: 0.5em;
}
